.homeimage {
  position: relative;
  text-align: center;
  color: burlywood;
}

.rattypes {
  position: relative;
  text-align: center;
  color: burlywood;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nextbutton {
  position: fixed;
  right: 10px; bottom: 10px;
  width: 100px;
  height:40px;
  background-color:lightgreen;
}

.previousbutton {
  position: fixed;
  left: 10px; bottom: 10px;
  width: 100px;
  height:40px;
  background-color:lightpink;
}